@model OThinker.H3.Example.SSO.NetWebSite.Models.User

@{
    ViewBag.Title = "Home Page";
}
    <div>
        登陆成功
    </div>
    <div>
        用户编码：@Html.DisplayFor(model => Model.UserCode)
    </div>
